body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	border: thick double;
	border-radius: 5px;
	flex-basis: 80%;
	width: 35%;
	background-color: #3c4043;
}

#display {
justify-content: flex-end;
font-size: 400%;
align-items: flex-end;
background-color: #5f6368;
border-color: #5f6368;
color: #EDAEC0;

}

.button-row {
	display: flex;
	flex-basis: 100%;
	/* border: 2px solid; */
}

.button-row div {
	flex-basis: 100%;
	width: 25%;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
	font-size: 300%;
	padding: 7.5% 0;
	background-color: #80868b;
	border-color: #5f6368;
	color: #EDAEC0;

}

#clear-button {
	background-color: #4285f4;
}

#equals-button {
	background-color: olive;
}

#operator-buttons {
	background-color: #7A687F;
}