body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	border: thick double;
	border-radius: 5px;
	flex-basis: 80%;
	width: 35%;
}

#display {
}

.button-row {
	display: flex;
	flex-basis: 100%;
	border: 2px solid;
}

.button-row div {
	flex-basis: 100%;
	width: 25%;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
	padding: 7.5% 0;
}
