body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	border: thick double;
	border-radius: 5px;
	flex-basis: 80%;
	width: 35%;
}

#display {
}

.button-row {
	flex-basis: 100%;
	border: 2px solid;
}